---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <div class="titleFlex">
      <h1>
          {{ page.title | escape }}
      </h1>
      <p class="date">
        {{ page.date | date: date_format }}
      </p>
    </div>
    <ul class="tags">
      {%- if page.tags.size > 0 -%}
          {%- for tag in page.tags -%}
          <li ><a href="{{ site.baseurl }}/tags#{{tag.tag}}" class="tag">{{tag.tag | replace:" ","-" }}</a></li>
          {%- endfor -%}
      {%- endif -%}
      </ul>
    <p class="post-meta">
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>